alembic==1.7.3
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Admin==1.5.8
Flask-Login==0.5.0
Flask-Migrate==3.1.0
flask-paginate==2021.10.26
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
GeoAlchemy2==0.9.4
greenlet==1.1.2
gunicorn==20.1.0
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
packaging==21.0
psycopg2-binary==2.9.1
pyparsing==2.4.7
python-dotenv==0.19.0
SQLAlchemy==1.4.25
Werkzeug==2.0.1
WTForms==2.3.3
zipp==3.6.0