<link rel="stylesheet" href="/static/plugins/leaflet/leaflet.css" />
<script src="/static/plugins/leaflet/leaflet.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>


<link rel="stylesheet" href="/static/plugins/easy-button/easy-button.css">
<script src="/static/plugins/easy-button/easy-button.js"></script> 

<link rel="stylesheet" href="/static/plugins/leaflet-locatecontrol-0.76.0/dist/L.Control.Locate.min.css" />
<script src="/static/plugins/leaflet-locatecontrol-0.76.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">

<script src="/static/plugins/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.js"></script>
<link rel="stylesheet" href="/static/plugins/leaflet-routing-machine-3.2.12/dist/leaflet-routing-machine.css">

<script src="/static/plugins/control-geocoder/Control.Geocoder.js"></script>

<script src="/static/plugins/leaflet-search-3.0.2/dist/leaflet-search.min.js"></script>
<link rel="stylesheet" href="/static/plugins/leaflet-search-3.0.2/dist/leaflet-search.min.css">

<script src="/static/js/jquery-3.6.0.min.js"></script>

<div id="mapid"></div>

<link rel="stylesheet" href="/static/css/map.css">

<script>

    var map = L.map('mapid').setView([21.372538517232353, 105.5548151996359], 11.75);
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map); 
</script>
<script src="../../static/js/map/currentLocation.js"></script>
<script src="../../static/js/map/thematicMap.js"></script>
<script src="../../static/js/map/searchLayer.js"></script>
<script src="../../static/js/map/routingControl.js"></script>
<script src="../../static/js/map/createNewPoint.js"></script>