<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Địa danh</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
            integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
            integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/places.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    
        <style>
            .header__background {
                background-image: url("{{ url_for('static', filename='images/places/b1.jpg') }}");
            }
            .footer{
                background-image: url("{{ url_for('static', filename='images/places/footer_background.jpg') }}");
            }
        </style>
    </head>
<body>
   <!-- header -->
   <div class="header">
    <div class="header__background">
        <div class="placePage-header_navbar">
            <div class="placePage-header__top container h-100">
                <div class="placePage-header_navbar-wrap row d-flex">
                    <div class="col-3 placePage-header_logo">VPhuc Travel</div>
                    <div class="col-9 placePage-header_menu">
                        <ul class="d-flex justify-content-between placePage-header_menu-ul">
                            <li><a class="placePage-header_menu-link" href="{{url_for('index')}}">Landing Page</a>
                            </li>
                            <li>
                                <div class="link__dropdown">
                                    <a class="placePage-header_menu-link" href="{{ url_for('places') }}">Địa danh <span><i class="fas fa-chevron-down"></i></span></a>

                                    <div class="dropdown">
                                        <div class="dropdown__item">
                                            <a href="{{ url_for('places') }}">Tam Đảo</a>
                                        </div>
                                        <div class="dropdown__item">
                                            <a href="{{ url_for('daiLai') }}">Đại Lải</a>
                                        </div>
                                        <div class="dropdown__item">
                                            <a href="{{ url_for('damVac') }}">Đầm Vạc</a>
                                        </div>
                                        <div class="dropdown__item">
                                            <a href="{{ url_for('tayThien') }}">Tây Thiên</a>
                                        </div>                                       
                                    </div>
                                </div>
                                
                            </li>
                            <li><a class="placePage-header_menu-link" href="{{ url_for('def_service') }}">Dịch
                                    Vụ</a>
                            </li>
                            <li><a class="placePage-header_menu-link" href="{{ url_for('posts') }}">Bài Viết</a>
                            </li>
                            <li><a class="placePage-header_menu-link" href="#">Gis</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="banner">
            <h2 class="banner__title">Hi <span>Welcome To<br> Tay Thien Travel</span></h2>
            <a href="" class="btn btn--banner">Explore Now</a>
        </div>


    </div>
    <img class="img--bottom" src="{{ url_for('static', filename='images/places/bottom_wave.png') }}" alt="">
</div>
    <!-- place -->
    <div class="wrapper">
        <div class="container">
            <div class="place">
                <iframe src="https://www.youtube.com/embed/GAeBmeYnOIQ?autoplay=1&mute=1" class="place__video" frameborder="0"></iframe>
                <h4 class="place__title place__title--heading">Trải nghiệm điểm đến</h4>
                <div class="place__list">
                    {% for place in tayThien %}
                    
                    {% if loop.index is divisibleby 2 %} 
                        <div class="place__item flex-reverse">
                    {% else %}
                        <div class="place__item ">   
                    {% endif %}
                    
                        <div class="place__info">
                            <h4 class="place__title place__title--item">{{ place.title }}</h4>
                            <p class="place__desc place__desc--infor">
                                {{ place.description }} 
                                <span class="moreText"></span>
                            </p>
                            <a href="http://dulich24.com.vn/du-lich-huyen-tam-dao/quang-truong-trung-tam-tam-dao-id-7681" class="btn desc" target="_blank">Chi tiết</a>
                        </div>
                        <div class="slide">
                            <div class="slide__item">
                                <img src="{{ url_for('static', filename=place.image) }}" alt="" class="slide__image">
                            </div>
                        </div>


                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            
        </div>
    </div>
    
    <section class="footer">

        <img src="{{ url_for('static', filename='images/places/top_wave.png') }}" alt="">
    
        <div class="share">
            <a href="#" class="btn"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#" class="btn"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#" class="btn"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#" class="btn"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#" class="btn"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>
    
        <div class="credit"> created by <span>5 ae siêu nhân</span> | all rights reserved! </div>
    </section>

    <script src="{{ url_for('static', filename='js/places/places.js') }}"></script>
</body>
</html>