:root {
  --primary-color: #ffffff;
  --secondary-color: #eec41e;
  --primary-fontSize: 16px;
  --primary-fontWeight: 400;
  --secondary-fontWeight: 700;
  --primary-spacing: 150%;
}

/* .header__background::after {
  position: absolute;
  content: "";
  background-color: rgba(56, 66, 77, 0.24);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
} */

.placePage-header_navbar {
  height: 86px;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.21);
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-out 0s;
  position: relative;
}

.placePage-header_navbar-wrap {
  height: 100%;
}

.placePage-header_logo {
  margin: auto 0;
  padding: 0;
  font-size: 24px;
  font-weight: var(--secondary-fontWeight);
  line-height: 28px;
  letter-spacing: var(--primary-spacing);
  color: var(--secondary-color);
}

.placePage-header_menu {
  margin: auto 0;
  padding: 0;
}

.placePage-header_menu-ul {
  list-style: none;
  margin: 0;
}

.placePage-header_menu-link {
  text-decoration: none !important;
  color: rgb(19, 15, 64);
  font-style: var(--primary-fontSize);
  font-weight: var(--primary-fontWeight);
  letter-spacing: var(--primary-spacing);
  text-transform: uppercase;
  font-weight: bold;
}
.placePage-header_menu-link:hover {
  color: var(--secondary-color);
}
.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  top: 30px;
  display: none;
  transform: translateY(30px);
  transition: 0.25s linear;
}
.link__dropdown {
  position: relative;
}
.link__dropdown::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 25px;
  background-color: red;
  opacity: 0;
  cursor: pointer;
}
.link__dropdown::after:hover .dropdown {
  display: block;
  transform: translateY(0);
}
.link__dropdown:hover .dropdown {
  display: block;
  transform: translateY(0);
}
.dropdown .dropdown__item {
  padding: 5px 30px;
  border-bottom: 1px solid #eeeeee;
  min-width: 135px;
}
.dropdown__item a {
  color: black;
}
.dropdown__item:hover a {
  color: var(--secondary-color);
  text-decoration: none;
}
.dropdown__item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
