*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: 0.25s;
}
body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  height: auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.place {
  color: white;
}
.place__heading {
  font-size: 60px;
  line-height: 42px;
  font-weight: 500;
  font-family: serif;
  text-align: center;
  text-align: center;
  padding-top: 30px;
  color: rgb(230, 126, 34);
}
.place__video {
  width: 100%;
  height: 540px;
  margin-top: 50px;
}
.place__desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #2c2f33;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.place__desc--title {
  margin-top: 32px;
  margin-bottom: 24px;
  text-align: center;
}
.place__title {
  font-size: 36px;
  line-height: 43px;
  font-weight: 600;
  color: #dc3545;
}
.place__title--heading {
  text-transform: uppercase;
  margin-top: 106px;
  margin-bottom: 5px;
  color: rgb(230, 126, 34);
}
.place__title--item {
  margin-bottom: 11px;
  color: #212529;
  text-transform: capitalize;
}
.place__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
.place__list .place__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 21px;
}
.place__list .place__item .place__info {
  width: 48%;
  text-align: justify;
}
.place__list .place__item .slide {
  width: 48%;
  margin-top: 55px;
}
.place__list .place__item .slide .slide__item {
  width: 100%;
  height: 420px;
}
.place__list .place__item .slide .slide__item .slide__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  color: rgb(19, 15, 64);
  font-size: 17px;
  z-index: 0;
  position: relative;
  border-radius: 0px 50px 50px;
  border: 2px solid rgb(19, 15, 64);
  border-image: initial;
  background: none;
  overflow: hidden;
  font-weight: 500;
}
.btn:hover {
  color: white;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  clip-path: circle(0% at 0% 5%);
  background: rgb(19, 15, 64);
  transition: all 0.2s linear 0s;
}
.btn:hover::before {
  clip-path: circle(100%);
}

.flex-reverse {
  flex-direction: row-reverse;
}

.header {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.header__top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.295);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header__top .logo {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.header__top .navbar {
  display: flex;
  justify-content: space-between;
}
.header__top .navbar__item {
  margin-right: 100px;
}
.header__top .navbar__item a {
  color: rgb(19, 15, 64);
  text-transform: uppercase;
}
.header__top .logo {
  margin: 0px 150px;
}

.header__background {
  background-attachment: fixed;
  background-image: url("./images/tamdaoo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.header__background .banner {
  position: absolute;
  right: 240px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 50%;
}
.header__background .banner__title {
  font-size: 55px;
  line-height: 67px;
  font-weight: 700;
  color: white;
}
.btn--banner {
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 700;
}
.img--bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
}
.header__background .banner__title span {
  color: #eec41e;
}
.header__background .banner__desc {
  color: white;
  margin-top: 3px;
  font-size: 25px;
}

a {
  text-decoration: none;
}
.tip {
  background-color: white;
  /* margin-top: 150px; */
}
.tip__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: rgb(230, 126, 34);
  text-transform: uppercase;
}

.tip__desc {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: var(--color-text);
  text-align: center;
  padding-top: 8px;
}

.tip__list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 50px;
}

.tip__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tip__item img {
  width: 100px;
  height: 65px;
  object-fit: contain;
  position: relative;
}

.tip__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}
/* 
.footer {
  padding-bottom: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
}

.padding__footer {
  padding-top: 50px;
}

.footer__title {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}

.footer__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #b9b9b9;
  max-width: 430px;
  padding-bottom: 6px;
  text-align: center;
}

.signup__btn {
  width: 100%;
  height: 40px;
}

.signup__btn--button {
  background-color: #dc3545;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid #dc3545;
  line-height: 24px;
  color: white;
  text-transform: uppercase;
  font-family: "Gamja Flower", cursive;
  font-size: 16px;
  font-weight: 400;
}

.signup__btn--button:hover {
  background-color: #e02134;
}

.social__link {
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  padding: 0 5px;
}

.social__list {
  padding-left: 163px;
} */
a,
btn {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */
.placePage-header_navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1.5rem;
  background-color: white;
  color: rgb(19, 15, 64);
  transform: translateY(-100px);
}
.active--navbar {
  transform: translateY(0px);
}

.footer {
  position: relative;
  width: 100%;
  height: 270px;
  background-size: center;
  background-position: center;
  text-transform: capitalize;
}
.footer img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
}
.footer .share {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer .share .btn {
  color: #fff;
  border-color: #fff;
  margin-top: 100px;
}
.footer .share .btn:hover {
  color: #130f40;
}
.footer .share .btn::before {
  background: #fff;
}
.footer .credit {
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 50px;
}
.footer .credit span {
  color: #e67e22;
}
