<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hanh</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <h1>about me</h1>
            <a class="logo" href="#">
                <img src="images/logo.jpg" alt="logo">
            </a>
        </div>
    </div>
    <p><br>Thị trấn Tam Đảo khá nhỏ, bạn có thể đi bộ tham quan thị trấn và các điểm du lịch. Hầu hết các điểm du lịch hấp dẫn đều nằm trong thị trấn, dưới đây là những điểm du lịch và những hoạt động vui chơi hấp dẫn bạn không nên bỏ lỡ ở Tam Đảo.</br>
    <br>Đây cũng là điểm du lịch đầu tiên bạn gặp khi bước chân vào thị trấn, nhưng quảng trường đẹp nhất là vào buổi tối, khi các nhóm bạn trẻ tổ chức các lễ hội âm thanh cộng đồng, không khí thật sự sôi động, cuốn hút.</br>
    <br>Nằm trên đỉnh Thiên Thị có độ cao 1.375 m. Ðường đi lên tuy vất vả nhưng lãng mạn, nên thơ, dọc đường lên là hoa phong lan, hoa cúc quỳ và các loài hoa dại không tên khác nở đầy lối đi, tỏa hương thơm lạ, mầu sắc rực rỡ…</br></p>
</body>
</html>