<header class="section-header">
    <div class="servicesPage-header_navbar">
        <div class="servicesPage-header__top container h-100">
            <div class="servicesPage-header_navbar-wrap row d-flex">
                <div class="col-3 servicesPage-header_logo">VPhuc Travel</div>
                <div class="col-9 servicesPage-header_menu">
                    <ul class="d-flex justify-content-between servicesPage-header_menu-ul">
                        <li><a class="servicesPage-header_menu-link" href="{{url_for('index')}}">Landing Page</a>
                        </li>
                        <li><a class="servicesPage-header_menu-link" href="{{ url_for('places') }}">Địa
                                danh</a></li>
                        <li><a class="servicesPage-header_menu-link" href="{{ url_for('def_service') }}">Dịch
                                Vụ</a>
                        </li>
                        <li><a class="servicesPage-header_menu-link" href="{{ url_for('posts') }}">Bài Viết</a>
                        </li>
                        <li><a class="servicesPage-header_menu-link" href="/map">Gis</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>