<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae maxime repellendus et provident minus quasi molestias modi perferendis voluptatem nihil veniam placeat consequuntur aliquid, eius laudantium cupiditate dolores distinctio omnis!
</body>
</html>