<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <style>
        .about_image {
            background: url("{{ url_for('static',filename='images/anh2.jpeg') }}") no-repeat 0px 0px;
        }
    </style>
</head>

<body>
    <!-- header + menu -->
    <div class="header_area">
        <div class="header_navbar">
            <div class="container h-100">
                <div class="header_navbar-wrap row d-flex">
                    <div class="col-3 header_logo">VPhuc Travel</div>
                    <div class="col-9 header_menu">
                        <ul class="d-flex justify-content-between header_menu-ul">
                            <li><a class="header_menu-link" href="#">Landing Page</a></li>
                            <li><a class="header_menu-link" href="#">Địa danh</a></li>
                            <li><a class="header_menu-link" href="#">Dịch Vụ</a></li>
                            <li><a class="header_menu-link" href="#">Bài Viết</a></li>
                            <li><a class="header_menu-link" href="#">Gis</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_main">
            <div class="header-main-container bg_cover">
                <div class="container header_main-wrap">
                    <div class="row">
                        <div class="header_main-content">
                            <h2 class="header_main-content-title">Explore The World with <span>VPhuc Travel</span></h2>
                            <p class="header_main-content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Praesent laoreet
                                elit ut diam
                                mattis, in dapibus dolor fringilla. Curabitur at nulla diam. </p>
                            <button type="button" class="btn btn-warning header_main-btn">Book Now</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- about -->
    <div class="about_area">
        <div class="about_wrapper">
            <div class="about_image bg_cover"></div>
            <div class="container about_main-wrap">
                <div class="row flex-col justify-content-end">
                    <div class="col-lg-7">
                        <h3 class="about_main-content-title">About Us </h3>
                        <span class="about_main-content-title-bottom">TraveLand in <span>Numbers</span></span>
                        <div class="about_main-content-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent laoreet elit ut diam
                            mattis, in dapibus dolor fringilla. Curabitur at nulla diam. Mauris pharetra tincidunt
                            purus, at iaculis nulla cursus at. Duis rutrum blandit ipsum sed luctus. Cras pretium mattis
                            felis sed faucibus. Curabitur finibus tortor ac diam varius ornare.
                            In lobortis vestibulum metus a pellentesque. Sed non nunc id dolor posuere consectetur sed
                            vel augue...
                        </div>
                        <button type="button" class="btn btn-warning about_main-btn">Read More</button>
                    </div>
                </div>
                <div class="about_counter d-flex flex-wrap justify-content-end">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="about_item-counter col-5" style="margin-right: 30px; ">
                                <span>954</span>
                                <p>Trips Done</p>
                            </div>
                            <div class="about_item-counter ml-12 mb-12 col-5">
                                <span>124</span>
                                <p>Corporate Client</p>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px;">
                            <div class="about_item-counter col-5" style="margin-right: 30px; ">
                                <span>55</span>
                                <p>Visited Countries</p>
                            </div>
                            <div class="about_item-counter col-5">
                                <span>55</span>
                                <p>Team Members</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
</body>

</html>